body {
    background-color: #BCD5E8;
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    align-content: center;
}

button, a.link-as-button {
    height: 40px;
    background: linear-gradient(to bottom, #4eb5e5 0%, #389ed5 100%); /* W3C */
    border: none;
    border-radius: 5px;
    border-bottom: 4px solid #2b8bc6;
    color: #fbfbfb;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    font-size: 15px;
    text-align: left;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, .2);
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-right: 15px;

}

a.link-as-button {
    height: 27px;
    float: initial;
    padding-right: 5px;
    padding-bottom: 0;
    text-decoration: none;
    padding-top: 10px;
    margin-top: 14px;
}

button:active, a.link-as-button:active {
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, .2);
    top: 1px;
}

h2{
    margin: 0px;
}
form {
    background-color: #ffffff;
    width: 100%;
    margin: 30px auto;
    text-align: center;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0px 30px 50px 0px rgba(29, 58, 231, 0.2);
}
label {
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    /*margin: 5px;*/
    text-align: left;
    display: inline-block;
}

input {
    width: 321.2px;
    padding: 0 0 0 10px;
    /* margin: 5px;*/
    color: #0a0a0a;
    border: 1px solid #3d1dbe;
    font-style: normal;
    font-size: 16px;
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    appearance: none;
    position: relative;
    background: none;
    line-height: 30px;
}
#start, #end {
    text-align: center;
}

select {
    width: 50%;
    padding: 0 0 0 10px;
    /*margin: 10px;*/
    color: #8a8b8e;
    border: 1px solid #3d1dbe;
    font-style: normal;
    font-size: 16px;
    appearance: menulist-button;
    position: relative;
    background: none;
    line-height: 30px;
}
table, tr, th, td {
    border: #333 1px solid;
    border-collapse: collapse;
    padding: .2em .5em;
    text-align: center;
}

table {
    width: 100%;
    margin-top: 15px;
}

th {
    background-color: #147ECF;
    color: #ffffff;
}
#update_table {
    background-color: #147ECF;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

#delete-table {
    background-color: #c94c4c;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

#table-list {
    overflow-x: auto;
}